<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="all">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="globalMenu.css">
	<link rel="stylesheet" href="create.css">
	<title>作成</title>
</head>

<body>
	<div id="root">
		<div class="app">
			<div id="notification-area"></div>
			<div class="base-style">
				<div class="base-content">
					<div class=""></div> <!--header-->
					<main class="create-content">
						<div class="left-part">
							<div class="sidebar-editor">
								<div class="start-message-panel">
									<div class="start-conponent">
										<div class="start-header">
											<span class="start-header-text">概要説明</span>
										</div>
										<div class="start-list"></div>
									</div>
								</div>
								<div class="draggable-handle"></div>
								<div class="question-panel"></div>
								<div class="draggable-handle"></div>
								<div class="ending-message-panel"></div>
							</div>
						</div>
						<div class="center-part"></div>
						<div class="right-part"></div>
					</main>
				</div>
			</div>
		</div>
	</div>
	
	
</body>

</html>